<nav id="my-menu">
	<ul>
		<li><a href="/">Home</a></li> <!-- Defaults to the calendar by date -->
		<li><a href="/about/">About the CSPC Volunteer Team</a>
		<ul>
			<li><a href="/about/Manual/">Manual</a></li>
			<li><a href="/about/team/">Team Leads</a></li>
		</ul>
		<li><a href="/roles/">Look for shifts by role</a>
		<li><a href="/event/">Alphabetical list of events</a>
	</li>
	<li><a href="/contact/">Contact</a></li>
</ul>
</nav>